/* some styles started from landing-page css */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
  }  

.header {
    height: 72px;
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

.headerlogo {
    font-size: 40px;
    color: #F9FAF8;
  }

.calculatorSection {
    height: 756px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.calculator {
    height: 600px;
    width: 350px;
    font-family: Roboto, sans-serif;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden; /* keeps children within border-radius */
    background: lightgray;
    display: flex;
    flex-direction: column; /* conflicts w/ min-height & align-self: stretch */
    justify-content: center;
    align-items: stretch; /* only made zero and equals stretch -- needed to apply flex: 1; to row items */
    /* flex-wrap: nowrap; */
  }

.screen {
  /* height: 150px; */
  width: 100%;
  font-size: 36px;
  font-weight: 100;
  color: whitesmoke;
  background-color: #1c1d1f;
  /* min-height: 30px;  */
  /* min-width: 120px; */
  /* margin-left: auto; */
  /* margin-right: 5px; */
  /* flex: 1; doesn't work here ??? */
  /* align-self: center; */
  /* align-self: stretch; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  /* flex: 1; */
  /* width: 25%; */
  /* min-height: 20%; */
}

.row {
  /* height: 90px; */
  font-size: 18px;
  display: flex;
  /* flex-direction: row; ??? unnecessary */
  justify-content: center;
  align-items: stretch; /* stretch makes them stretch vertically */  
  cursor: pointer;
  min-height: 16%;
  /* align-self: stretch; -- unnecessary??? */
}

.allClear {
  font-size: 30px;
  font-weight: 100;
  color: whitesmoke;
  background-color: #2a2c30;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operator {
  font-size: 26px;
  font-weight: 100;
  color: whitesmoke;
  background-color: #e6a121;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid gray;
}

#equals {
  flex: 1;
}

.digit {
  font-size: 26px;
  font-weight: 100;
  color: whitesmoke;
  background-color: rgb(77, 70, 70);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid gray;
}

#zero {
  flex: 3;
}

.footer {
  height: 72px;
  background: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}